# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Isolated environments
.env/
.venv/
env/
venv/
_venv/
pypy/
_pypy/

# Source code editors
.vscode
.idea
*~

# OS specific files
.DS_Store

# Logging
*.log
*.log.*

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
junit.xml

#Jupyter Lab
.ipynb_checkpoints/
Untitled.ipynb